.hamburger {
    z-index: 3;
    cursor: pointer;
    &_hidden {
        display: none;

    }
    &_active {
        display: block;
    }

    span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin-top: 5px;
        z-index: -1;
    }


}
